main {
    padding: 1rem;
    margin: auto;
}

.filled {
    color: var(--PRIMARY-P1);
}

.jc-space-evenly {
    justify-content: space-evenly;
}
.feature-title {
    font-family: "Poppins", sans-serif;
}